body{
  min-width: 600px;
}
#login-button {
  margin: 0 8px 8px 0;
}
#menu-mobile{
  border: none;
}
#home {
  background: #ffc107;
  color: #fff;
}
.caixa{
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
}
footer span {
  height: 100%;
}
footer a {
  text-decoration: none;
  color: #000;
  margin: 0 10px 0 10px;
}

.caixa-form{
  height: 800px;
  padding-top: 100px;
  border  : 1px solid #e5e5e5;
}
.login-form, .cadastro-form{
  border: 2px solid rgb(228, 228, 228);
  border-radius: 20px;
  margin-right: 50px;
  padding: 40px 30px;
}
.login-form{
  width: 400px;
  height: 400px;
}
.login-texto{
  font-size: 1.6em;
  width: 330px;
  margin-left: 30px;
  padding: 20px 0;
}
@media (min-width: 300px) and (max-width: 760px) {
    #home span{
      display: block;
      padding: 10px 0;
    }
    .caixa-mobile{
      margin: 10px 0;
      border-bottom: 1px solid #e5e5e5;
    }
    footer{
      height: 100px;
    }
    footer #social{
      margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 985px){
  footer .col-md-8 {
    width: 350px;
  }
  footer #social{
    width: 350px;
  }
  
}
@media (min-width: 986px) and (max-width: 1080px){
  footer .col-md-8{
    width: 600px;
  }
  footer #social{
    width: 350px;
  }
}